{"swagger":"2.0","info":{"description":"调用蓝莺IM API前，请先从控制台获取参数api_endpoint、app_id、access-token。\napi_endpoint是服务地址，app_id，access-token在请求Header中使用。未特殊说明的请求Content-Type类型为application/json。","version":"v1.0","title":"蓝莺IM服务端API文档","contact":{"name":"技术支持请访问","url":"https://github.com/maxim-top/maxims-bistro/issues"}},"host":"s-1-3-api.maximtop.cn","basePath":"/","tags":[{"name":"AI 接口","description":"AI Controller"},{"name":"token 接口","description":"Token Controller"},{"name":"好友管理接口","description":"Roster Controller"},{"name":"推送接口","description":"Push Controller"},{"name":"文件操作接口","description":"File Access Controller"},{"name":"消息处理","description":"Message Controller"},{"name":"用户操作","description":"User Controller"},{"name":"群接口","description":"Group Controller"}],"paths":{"/ai/message/send":{"post":{"tags":["AI 接口"],"summary":"发送消息并获取AI回复","operationId":"sendMessageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«AI回复消息列表»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["AI 接口"],"summary":"发送消息并获取AI回复","operationId":"sendMessageUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«AI回复消息列表»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/download/avatar":{"get":{"tags":["文件操作接口"],"summary":"下载头像","operationId":"downloadAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"h","in":"query","description":"图片高","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"image_type","in":"query","description":"图片类型，1: 原图，2: 缩略图, 3: 封面图","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"object_name","in":"query","description":"对象名","required":true,"type":"string","allowEmptyValue":false},{"name":"sdk_sign","in":"query","description":"SDK的签名","required":false,"type":"string","allowEmptyValue":false},{"name":"store_token","in":"query","description":"文件token","required":false,"type":"string","allowEmptyValue":false},{"name":"thumbnail_strategy","in":"query","description":"缩略图生成策略, 1 - 第三方服务器生成， 2 - 本地服务器生成，默认值是 1","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"w","in":"query","description":"图片宽","required":false,"type":"number","format":"double","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/download/chat":{"get":{"tags":["文件操作接口"],"summary":"下载聊天文件","operationId":"downloadChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"file_sign","in":"query","description":"文件签名","required":true,"type":"string","allowEmptyValue":false},{"name":"format","in":"query","description":"需要下载的音频文件格式amr/mp3 默认为amr","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"h","in":"query","description":"图片高","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"image_type","in":"query","description":"图片类型，1: 原图，2: 缩略图, 3: 封面图","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"sdk_sign","in":"query","description":"SDK的签名","required":false,"type":"string","allowEmptyValue":false},{"name":"source","in":"query","description":"请求来源, miniprogram - 小程序，默认值是 ''","required":false,"type":"string","allowEmptyValue":false},{"name":"store_token","in":"query","description":"文件token","required":false,"type":"string","allowEmptyValue":false},{"name":"thumbnail_strategy","in":"query","description":"缩略图生成策略, 1 - 第三方服务器生成， 2 - 本地服务器生成，默认值是 1","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"w","in":"query","description":"图片宽","required":false,"type":"number","format":"double","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/avatar/group":{"get":{"tags":["文件操作接口"],"summary":"获取上传群头像URL","operationId":"getUploadUrlOfGroupAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"group_id","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/avatar/user":{"get":{"tags":["文件操作接口"],"summary":"获取上传用户头像URL","operationId":"getUploadUrlOfUserAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/chat":{"get":{"tags":["文件操作接口"],"summary":"获取上传聊天文件的URL","operationId":"getUploadUrlOfChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"file_type","in":"query","description":"文件类型 100: 普通聊天文件, 101: 语音聊天文件(amr格式),102: 图片聊天文件, 103: 视频聊天文件, 104: 语音聊天文件(mp3格式)200: 普通共享文件, 201: 语音共享文件, 202: 图片共享文件, 203: 视频共享文件","required":true,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"to_id","in":"query","description":"to_id","required":true,"type":"integer","format":"int64"},{"name":"to_type","in":"query","description":"1: 用户，2: 群组","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/forward":{"get":{"tags":["文件操作接口"],"summary":"获取聊天文件转发的URL","operationId":"getForwardUrlOfChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"file_sign","in":"query","description":"文件签名","required":true,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"to_id","in":"query","description":"to_id","required":true,"type":"integer","format":"int64"},{"name":"to_type","in":"query","description":"1: 用户，2: 群组","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/admin/add":{"post":{"tags":["群接口"],"summary":"添加群管理员","operationId":"addAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/admin/remove":{"post":{"tags":["群接口"],"summary":"移除群管理员","operationId":"removeAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"移除群管理员","operationId":"removeAdminUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/admin_list":{"get":{"tags":["群接口"],"summary":"获取群管理员列表","operationId":"findAdminListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«群成员格式»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement":{"get":{"tags":["群接口"],"summary":"根据群id和公告id获取群公告详情","operationId":"findAnnouncementByIdUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"公告ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«获取群公告返回内容»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/delete":{"post":{"tags":["群接口"],"summary":"删除公告","operationId":"deleteAnnouncementByIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"公告ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"删除公告","operationId":"deleteAnnouncementByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"公告ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/announcement/edit":{"post":{"tags":["群接口"],"summary":"编辑群公告","operationId":"editAnnouncementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupAnnouncementRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«获取群公告返回内容»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/last":{"get":{"tags":["群接口"],"summary":"获取最新一条群公告详情","operationId":"findGroupLastAnnouncementUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«获取群公告返回内容»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/list":{"get":{"tags":["群接口"],"summary":"获取群公告列表","operationId":"findGroupAllAnnouncementsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«获取群公告返回内容»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/application_list":{"post":{"tags":["群接口"],"summary":"获取群申请列表","operationId":"findApplicationListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"游标: 从哪开始取","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"最多取多少条","required":false,"type":"integer","default":100,"format":"int32","allowEmptyValue":false},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupIdListRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"版本号","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupApplication»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/apply":{"post":{"tags":["群接口"],"summary":"申请入群","operationId":"applyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupApplicationRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/apply/handle":{"post":{"tags":["群接口"],"summary":"管理员处理入群申请","operationId":"operateApplicationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"管理员处理入群申请","operationId":"operateApplicationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/ban":{"post":{"tags":["群接口"],"summary":"将用户禁言","operationId":"banUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupBannedMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/banned_list":{"get":{"tags":["群接口"],"summary":"获取禁言列表","operationId":"findBannedMemberListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"游标：从哪开始取","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"取多少条","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"版本","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«群成员格式»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/block":{"post":{"tags":["群接口"],"summary":"将用户加入黑名单","operationId":"blockUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/blocked_list":{"get":{"tags":["群接口"],"summary":"获取黑名单列表","operationId":"findBlacklistUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"游标：从哪开始取","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"取多少条","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"版本","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupBlockedListItem»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/create":{"post":{"tags":["群接口"],"summary":"创建群","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GroupInfoRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/destroy":{"post":{"tags":["群接口"],"summary":"解散群","operationId":"destroyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"解散群","operationId":"destroyUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/display_name":{"post":{"tags":["群接口"],"summary":"更新群名片","operationId":"updateDisplayNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群名片","operationId":"updateDisplayNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file":{"get":{"tags":["群接口"],"summary":"下载群文件","operationId":"downloadSharedFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"file_id","in":"query","description":"文件ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupSharedFileDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/delete":{"post":{"tags":["群接口"],"summary":"删除群文件","operationId":"deleteSharedFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileDeleteRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"删除群文件","operationId":"deleteSharedFileUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileDeleteRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/file/list":{"get":{"tags":["群接口"],"summary":"获取群文件列表","operationId":"getSharedFileListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileDto»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/update_name":{"post":{"tags":["群接口"],"summary":"更新群文件名称","operationId":"updateSharedFileNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群文件名称","operationId":"updateSharedFileNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/upload":{"post":{"tags":["群接口"],"summary":"上传群文件","operationId":"uploadSharedFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupSharedFileDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info":{"get":{"tags":["群接口"],"summary":"根据group id获取群信息","operationId":"findGroupInfoUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/avatar":{"post":{"tags":["群接口"],"summary":"更新群头像","operationId":"updateAvatarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群头像","operationId":"updateAvatarUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/batch":{"post":{"tags":["群接口"],"summary":"根据group id获取群信息","operationId":"findGroupNameAndCountBatchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupIdListRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«群简要信息及用户设置»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/description":{"post":{"tags":["群接口"],"summary":"更新群描述","operationId":"updateDescriptionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群描述","operationId":"updateDescriptionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/ext":{"post":{"tags":["群接口"],"summary":"更新扩展信息","operationId":"updateExtUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新扩展信息","operationId":"updateExtUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/name":{"post":{"tags":["群接口"],"summary":"更新群名称","operationId":"updateNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群名称","operationId":"updateNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invitation_list":{"get":{"tags":["群接口"],"summary":"获取群邀请列表","operationId":"findInvitationListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"游标: 从哪开始取","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"最多取多少条","required":false,"type":"integer","default":100,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"版本号","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupInvitation»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invite":{"post":{"tags":["群接口"],"summary":"邀请入群","operationId":"inviteUsersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInvitationRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invite/handle":{"post":{"tags":["群接口"],"summary":"用户处理入群邀请","operationId":"inviteeHandleInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"用户处理入群邀请","operationId":"inviteeHandleInviteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/kick":{"post":{"tags":["群接口"],"summary":"将成员踢出群","operationId":"kickMembersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"将成员踢出群","operationId":"kickMembersUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/leave":{"post":{"tags":["群接口"],"summary":"成员退出群","operationId":"leaveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"成员退出群","operationId":"leaveUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/member_list":{"get":{"tags":["群接口"],"summary":"根据group id获取群成员列表","operationId":"findMemberListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"游标：从哪开始取","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"取多少条","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"版本","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«群成员格式»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/members/display_name":{"post":{"tags":["群接口"],"summary":"批量获取群成员的群名片","operationId":"findMembersDisplayNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«群成员格式»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/msg/mute_mode":{"post":{"tags":["群接口"],"summary":"设置群消息屏蔽模式","operationId":"updateGroupMsgMuteModeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgMuteModeRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"设置群消息屏蔽模式","operationId":"updateGroupMsgMuteModeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgMuteModeRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/msg/push_mode":{"post":{"tags":["群接口"],"summary":"设置群消息推送模式","operationId":"updateGroupMsgPushModeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgPushModeRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"设置群消息推送模式","operationId":"updateGroupMsgPushModeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgPushModeRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/public_list":{"get":{"tags":["群接口"],"summary":"获取公开群列表","operationId":"findPublicGroupListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«long»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/group/qrcode/invite":{"post":{"tags":["群接口"],"summary":"二维码邀请入群","operationId":"qrCodeInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/QrInviteRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/qrcode/sign":{"get":{"tags":["群接口"],"summary":"获取群邀请二维码信息","operationId":"createQrCodeSignUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«QrCodeDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings":{"get":{"tags":["群接口"],"summary":"获取群设置","operationId":"findGroupSettingsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"群组ID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/allow_member_invitation":{"post":{"tags":["群接口"],"summary":"更新群设置--是否允许成员邀请","operationId":"updateMemberInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群设置--是否允许成员邀请","operationId":"updateMemberInviteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/allow_member_modify":{"post":{"tags":["群接口"],"summary":"更新群设置--群成员是否可修改群信息","operationId":"updateMemberModifyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群设置--群成员是否可修改群信息","operationId":"updateMemberModifyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/ban_all":{"post":{"tags":["群接口"],"summary":"全员禁言，只允许管理员发消息","operationId":"banAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupBanAllRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupBanAllResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/enable_read_ack":{"post":{"tags":["群接口"],"summary":"更新群设置--是否开启群消息已读功能","operationId":"updateReadAckUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群设置--是否开启群消息已读功能","operationId":"updateReadAckUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/history_visible":{"post":{"tags":["群接口"],"summary":"更新群设置--新成员是否可见群历史聊天记录","operationId":"updateHistoryVisibleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群设置--新成员是否可见群历史聊天记录","operationId":"updateHistoryVisibleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/require_admin_approval":{"post":{"tags":["群接口"],"summary":"更新群设置--群申请是否需要管理员审批","operationId":"updateApplyApprovalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingsApplyApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"更新群设置--群申请是否需要管理员审批","operationId":"updateApplyApprovalUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingsApplyApprovalRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/unban_all":{"post":{"tags":["群接口"],"summary":"取消全员禁言","operationId":"unBanAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupUnBanAllRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/transfer":{"post":{"tags":["群接口"],"summary":"转让群","operationId":"transferUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupTransferRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["群接口"],"summary":"转让群","operationId":"transferUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupTransferRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/unban":{"post":{"tags":["群接口"],"summary":"从禁言列表移除用户","operationId":"unbanUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/unblock":{"post":{"tags":["群接口"],"summary":"从黑名单移除用户","operationId":"unblockUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["群接口"],"summary":"从黑名单移除用户","operationId":"unblockUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/user_joined":{"get":{"tags":["群接口"],"summary":"获取用户的群组列表","operationId":"findUserJoinedGroupsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«long»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/ack":{"get":{"tags":["消息处理"],"summary":"发送已读回执","operationId":"ackMessageUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"conversation_id","in":"query","description":"会话ID","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"device_sn","in":"query","description":"设备序号","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"msg_id","in":"query","description":"消息ID","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/conversation":{"get":{"tags":["消息处理"],"summary":"取指定会话的消息","operationId":"getUserMessagesByConversationUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"最多拉取多少条","required":true,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"msg_id_start","in":"query","description":"从哪条消息开始向前拉取：传0表示最新的一条消息","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"opposite_id","in":"query","description":"会话ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«会话消息列表»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["消息处理"],"summary":"删除用户的指定会话","operationId":"deleteConversationUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"conversation_id","in":"query","description":"会话ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/message/notify":{"post":{"tags":["消息处理"],"summary":"发送系统通知","operationId":"sendNotificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SendMessageResponse«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["消息处理"],"summary":"发送系统通知","operationId":"sendNotificationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SendMessageResponse«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/recall":{"post":{"tags":["消息处理"],"summary":"撤回消息","operationId":"recallUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecallMessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["消息处理"],"summary":"撤回消息","operationId":"recallUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/RecallMessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/send":{"post":{"tags":["消息处理"],"summary":"发送消息","operationId":"sendMessageUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SendMessageResponse«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["消息处理"],"summary":"发送消息","operationId":"sendMessageUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"messageRequest","description":"messageRequest","required":true,"schema":{"$ref":"#/definitions/MessageRequest"}},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SendMessageResponse«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/unread":{"get":{"tags":["消息处理"],"summary":"取指定用户的最近会话列表","operationId":"unreadUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«UnreadDto»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/push/certificate":{"get":{"tags":["推送接口"],"summary":"获取推送证书","operationId":"getCertificateUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"environment","in":"query","description":"运行环境， 0 - 开发环境， 1 - 生产环境 , 默认值：1","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"name":"provider","in":"query","description":"证书提供方, 1-APNS，2-华为，3-小米，4-魅族，5-VIVO， 6-OPPO, 7-FCM","required":true,"type":"integer","maximum":7.0,"exclusiveMaximum":false,"minimum":1.0,"exclusiveMinimum":false,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此用户ID的身份来调用此接口","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«NotifierDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/push/notify":{"post":{"tags":["推送接口"],"summary":"发推送通知","description":"发送推送通知需要在管理后台开通推送功能。\n具体请求参数可以参考Model里的定义。\n常用请求格式如下:\n1. 推送文本给所有设备\n{\n  \"audience\": \"all\",\n  \"message\": {\n    \"type\": \"text\",\n    \"title\": \"this is push title\",\n    \"body\": \"this is push body\"\n  }\n}\n2. 推送图片给push_token为token1或token2的设备\n{\n  \"audience\": {\"push_token\":[\"token1\",\"token2\"]},\n  \"message\": {\n    \"type\": \"image\",\n    \"title\": \"this is push title\",\n    \"body\": \"this is push body\",\n    \"attachment_url\": \"https://xxx.com/images/1.jpg\"\n  }\n}\n3. 推送透传消息给标签为beijing或shanghai的所有设备，透传消息不会展示到通知栏上\n{\n  \"audience\": {\"tag\":[\"beijing\",\"shanghai\"]},\n  \"message\": {\n    \"type\": \"cmd\",\n    \"title\": \"this is push title\",\n    \"body\": \"this is push body\",\n    \"ext\": {\"key1\": 12345, \"key2\": \"xxx\" }\n  }\n}","operationId":"pushNotifyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"令牌","required":false,"type":"string"},{"name":"app_id","in":"header","description":"应用ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"仅当access-token为管理员token时，可以设置此字段，表示以此群ID的管理员身份来调用此接口","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/PushNotifyRequest"}},{"name":"user_id","in":"header","descrip
[...]
