{"swagger":"2.0","info":{"description":"Get the parameters api_endpoint, app_id, and access-token from Console before calling Lanying IM API, \napi_endpoint is the service address, app_id and access-token are used in request Header. The default type of request Content-Type is application/json.","version":"v1.0","title":"Lanying IM server-side API document","contact":{"name":"For technical support","url":"https://github.com/maxim-top/maxims-bistro/issues"}},"host":"s-1-3-api.maximtop.cn","basePath":"/","tags":[{"name":"token interface","description":"Token Controller"},{"name":"Friend management interface","description":"Roster Controller"},{"name":"Push interface","description":"Push Controller"},{"name":"File manipulation interface","description":"File Access Controller"},{"name":"Message processing","description":"Message Controller"},{"name":"User action","description":"User Controller"},{"name":"Group interface","description":"Group Controller"}],"paths":{"/file/download/avatar":{"get":{"tags":["File manipulation interface"],"summary":"Download avatar","operationId":"downloadAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"h","in":"query","description":"Image height","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"image_type","in":"query","description":"Image type, 1: original, 2: thumbnail, 3: cover","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"object_name","in":"query","description":"Object name","required":true,"type":"string","allowEmptyValue":false},{"name":"sdk_sign","in":"query","description":"SDK signature","required":false,"type":"string","allowEmptyValue":false},{"name":"store_token","in":"query","description":"File token","required":false,"type":"string","allowEmptyValue":false},{"name":"thumbnail_strategy","in":"query","description":"Thumbnail generation policy, 1 - generated by third-party server, 2 - generated by local server, default 1","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"w","in":"query","description":"Image width","required":false,"type":"number","format":"double","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/download/chat":{"get":{"tags":["File manipulation interface"],"summary":"Download chat file","operationId":"downloadChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"file_sign","in":"query","description":"File signature","required":true,"type":"string","allowEmptyValue":false},{"name":"format","in":"query","description":"Audio file format to download, amr/mp3, default amr","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"h","in":"query","description":"Image height","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"image_type","in":"query","description":"Image type, 1: original, 2: thumbnail, 3: cover","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"sdk_sign","in":"query","description":"SDK signature","required":false,"type":"string","allowEmptyValue":false},{"name":"source","in":"query","description":"Request source, miniprogram, default ‘'","required":false,"type":"string","allowEmptyValue":false},{"name":"store_token","in":"query","description":"File token","required":false,"type":"string","allowEmptyValue":false},{"name":"thumbnail_strategy","in":"query","description":"Thumbnail generation policy, 1 - generated by third-party server, 2 - generated by local server, default 1","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"w","in":"query","description":"Image width","required":false,"type":"number","format":"double","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/avatar/group":{"get":{"tags":["File manipulation interface"],"summary":"Get the URL of uploading group avatar","operationId":"getUploadUrlOfGroupAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"group_id","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/avatar/user":{"get":{"tags":["File manipulation interface"],"summary":"Get the URL of uploading user avatar","operationId":"getUploadUrlOfUserAvatarUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/chat":{"get":{"tags":["File manipulation interface"],"summary":"Get the URL of uploading chat file","operationId":"getUploadUrlOfChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"file_type","in":"query","description":"File Type  100: plain chat file, 101: voice chat file (in .amr), 102: picture chat file, 103: video chat file, 104: voice chat file (in .mp3), 200: shared plain file, 201: shared voice file, 202: shared picture file, 203: shared video file","required":true,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"to_id","in":"query","description":"to_id","required":true,"type":"integer","format":"int64"},{"name":"to_type","in":"query","description":"1: User,2: Group","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«FileUploadDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/file/upload/forward":{"get":{"tags":["File manipulation interface"],"summary":"Get the URL of forwarded chat file","operationId":"getForwardUrlOfChatFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"file_sign","in":"query","description":"File signature","required":true,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"to_id","in":"query","description":"to_id","required":true,"type":"integer","format":"int64"},{"name":"to_type","in":"query","description":"1: User,2: Group","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«string»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/admin/add":{"post":{"tags":["Group interface"],"summary":"Add group Admin","operationId":"addAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/admin/remove":{"post":{"tags":["Group interface"],"summary":"Remove group Admin","operationId":"removeAdminUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Remove group Admin","operationId":"removeAdminUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/admin_list":{"get":{"tags":["Group interface"],"summary":"Get the list of group Admins","operationId":"findAdminListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List« group member format»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement":{"get":{"tags":["Group interface"],"summary":"Get group announcement details by group id and announcement id","operationId":"findAnnouncementByIdUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"Announcement ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Returned result of get group announcement»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/delete":{"post":{"tags":["Group interface"],"summary":"Delete group announcement","operationId":"deleteAnnouncementByIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"Announcement ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Delete group announcement","operationId":"deleteAnnouncementByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"announcement_id","in":"query","description":"Announcement ID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/announcement/edit":{"post":{"tags":["Group interface"],"summary":"Edit group announcement","operationId":"editAnnouncementUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupAnnouncementRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Returned result of get group announcement»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/last":{"get":{"tags":["Group interface"],"summary":"Get the latest group announcement details","operationId":"findGroupLastAnnouncementUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«Returned result of get group announcement»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/announcement/list":{"get":{"tags":["Group interface"],"summary":"Get group announcements list","operationId":"findGroupAllAnnouncementsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«Returned result of get group announcement »»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/application_list":{"post":{"tags":["Group interface"],"summary":"Get the list of group membership requests","operationId":"findApplicationListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"Cursor: where to start fetching","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"How many to fetch","required":false,"type":"integer","default":100,"format":"int32","allowEmptyValue":false},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupIdListRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"Version","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupApplication»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/apply":{"post":{"tags":["Group interface"],"summary":"Apply for group membership","operationId":"applyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupApplicationRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/apply/handle":{"post":{"tags":["Group interface"],"summary":"Admin processes membership application","operationId":"operateApplicationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Admin processes membership application","operationId":"operateApplicationUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/ban":{"post":{"tags":["Group interface"],"summary":"Ban a user","operationId":"banUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupBannedMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/banned_list":{"get":{"tags":["Group interface"],"summary":"Get a list of banned members","operationId":"findBannedMemberListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"Cursor:where to start fetching","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"How many to fetch","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"Version","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«Group member format»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/block":{"post":{"tags":["Group interface"],"summary":"Blacklist a user","operationId":"blockUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/blocked_list":{"get":{"tags":["Group interface"],"summary":"Get backlist","operationId":"findBlacklistUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"Cursor:where to start fetching","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"How many to fetch","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"Version","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupBlockedListItem»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/create":{"post":{"tags":["Group interface"],"summary":"Create group","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":false,"schema":{"$ref":"#/definitions/GroupInfoRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/destroy":{"post":{"tags":["Group interface"],"summary":"Disband group","operationId":"destroyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Disband group","operationId":"destroyUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/display_name":{"post":{"tags":["Group interface"],"summary":"Update group profile","operationId":"updateDisplayNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group profile","operationId":"updateDisplayNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file":{"get":{"tags":["Group interface"],"summary":"Download group file","operationId":"downloadSharedFileUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"file_id","in":"query","description":"FileID","required":true,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupSharedFileDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/delete":{"post":{"tags":["Group interface"],"summary":"Delete group file","operationId":"deleteSharedFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileDeleteRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Delete group file","operationId":"deleteSharedFileUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileDeleteRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/file/list":{"get":{"tags":["Group interface"],"summary":"Get the list of group files","operationId":"getSharedFileListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupSharedFileDto»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/update_name":{"post":{"tags":["Group interface"],"summary":"Update group file name","operationId":"updateSharedFileNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group file name","operationId":"updateSharedFileNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/file/upload":{"post":{"tags":["Group interface"],"summary":"Upload group file","operationId":"uploadSharedFileUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSharedFileRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupSharedFileDto»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info":{"get":{"tags":["Group interface"],"summary":"Get group information by group id","operationId":"findGroupInfoUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/avatar":{"post":{"tags":["Group interface"],"summary":"Update group avatar","operationId":"updateAvatarUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group avatar","operationId":"updateAvatarUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/batch":{"post":{"tags":["Group interface"],"summary":"Get group information by group id","operationId":"findGroupNameAndCountBatchUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupIdListRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«Group profile and user settings»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/description":{"post":{"tags":["Group interface"],"summary":"Update group description","operationId":"updateDescriptionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group description","operationId":"updateDescriptionUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/ext":{"post":{"tags":["Group interface"],"summary":"Update extension information","operationId":"updateExtUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update extension information","operationId":"updateExtUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/info/name":{"post":{"tags":["Group interface"],"summary":"Update group name","operationId":"updateNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group name","operationId":"updateNameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInfoUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invitation_list":{"get":{"tags":["Group interface"],"summary":"Get group invitation list","operationId":"findInvitationListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"Cursor: where to start fetching","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"How many to fetch","required":false,"type":"integer","default":100,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"Version","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«GroupInvitation»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invite":{"post":{"tags":["Group interface"],"summary":"Invite to group","operationId":"inviteUsersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupInvitationRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/invite/handle":{"post":{"tags":["Group interface"],"summary":"Process group invitation by user","operationId":"inviteeHandleInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Process group invitation by user","operationId":"inviteeHandleInviteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/ApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/kick":{"post":{"tags":["Group interface"],"summary":"Kick member out of group","operationId":"kickMembersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Kick member out of group","operationId":"kickMembersUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/leave":{"post":{"tags":["Group interface"],"summary":"Member quit group","operationId":"leaveUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Member quit group","operationId":"leaveUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/member_list":{"get":{"tags":["Group interface"],"summary":"Get group member list by group id","operationId":"findMemberListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"cursor","in":"query","description":"Cursor:where to start fetching","required":false,"type":"string","allowEmptyValue":false},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"limit","in":"query","description":"How many to fetch","required":false,"type":"integer","default":1000,"format":"int32","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"},{"name":"version","in":"query","description":"Version","required":false,"type":"integer","default":0,"format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PagingResponse«List«Group member format»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/members/display_name":{"post":{"tags":["Group interface"],"summary":"Batch retrieval of group member profiles","operationId":"findMembersDisplayNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List« group member format»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/msg/mute_mode":{"post":{"tags":["Group interface"],"summary":"Set group message blocking mode","operationId":"updateGroupMsgMuteModeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgMuteModeRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Set group message blocking mode","operationId":"updateGroupMsgMuteModeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgMuteModeRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/msg/push_mode":{"post":{"tags":["Group interface"],"summary":"Set group message pushing mode","operationId":"updateGroupMsgPushModeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgPushModeRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Set group message pushing mode","operationId":"updateGroupMsgPushModeUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMsgPushModeRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/public_list":{"get":{"tags":["Group interface"],"summary":"Get public group list","operationId":"findPublicGroupListUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«long»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/group/qrcode/invite":{"post":{"tags":["Group interface"],"summary":"Group invitation via QR code","operationId":"qrCodeInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/QrInviteRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/qrcode/sign":{"get":{"tags":["Group interface"],"summary":"Get Group invitation QR code","operationId":"createQrCodeSignUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«QrCodeDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings":{"get":{"tags":["Group interface"],"summary":"Get group settings","operationId":"findGroupSettingsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"query","description":"GroupID","required":true,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupInfoAndSettingsDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/allow_member_invitation":{"post":{"tags":["Group interface"],"summary":"Update group settings - whether to allow member invitations","operationId":"updateMemberInviteUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group settings - whether to allow member invitations","operationId":"updateMemberInviteUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/allow_member_modify":{"post":{"tags":["Group interface"],"summary":"Update group settings - whether group members can modify group information","operationId":"updateMemberModifyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group settings - whether group members can modify group information","operationId":"updateMemberModifyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/ban_all":{"post":{"tags":["Group interface"],"summary":"Ban all members, only Admins can send messages","operationId":"banAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupBanAllRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupBanAllResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/enable_read_ack":{"post":{"tags":["Group interface"],"summary":"Update group settings - whether to enable “mark after read”","operationId":"updateReadAckUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group settings - whether to enable “mark after read”","operationId":"updateReadAckUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/history_visible":{"post":{"tags":["Group interface"],"summary":"Update group settings - whether group chat history visible to new members","operationId":"updateHistoryVisibleUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group settings - whether group chat history visible to new members","operationId":"updateHistoryVisibleUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingUpdateRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/require_admin_approval":{"post":{"tags":["Group interface"],"summary":"Update group settings - whether group membership request needs Admin approval","operationId":"updateApplyApprovalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingsApplyApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Update group settings - whether group membership request needs Admin approval","operationId":"updateApplyApprovalUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupSettingsApplyApprovalRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/settings/unban_all":{"post":{"tags":["Group interface"],"summary":"Unban all members","operationId":"unBanAllUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupUnBanAllRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«boolean»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/transfer":{"post":{"tags":["Group interface"],"summary":"Transfer of group Owner","operationId":"transferUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupTransferRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["Group interface"],"summary":"Transfer of group Owner","operationId":"transferUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupTransferRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«GroupUserRelationResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/unban":{"post":{"tags":["Group interface"],"summary":"Remove user from ban list","operationId":"unbanUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/group/unblock":{"post":{"tags":["Group interface"],"summary":"Remove user from blacklist","operationId":"unblockUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["Group interface"],"summary":"Remove user from blacklist","operationId":"unblockUsingDELETE","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/GroupMemberRequest"}},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«GroupUserRelationResponse»»"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/group/user_joined":{"get":{"tags":["Group interface"],"summary":"Get the list of groups for the user","operationId":"findUserJoinedGroupsUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"user_id","in":"header","description":"This field can be set only if access-token is a user token, means call this interface as a group member for this user ID","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Response«List«long»»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/message/ack":{"get":{"tags":["Message processing"],"summary":"Send read receipt","operationId":"ackMessageUsingGET","produces":["*/*"],"parameters":[{"name":"access-token","in":"header","description":"Token","required":false,"type":"string"},{"name":"app_id","in":"header","description":"App ID","required":true,"type":"string"},{"name":"conversation_id","in":"query","description":"SessionID","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"device_sn","in":"query","description":"Device serial number","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"group_id","in":"header","description":"This field can be set only if access-token is an Admin token, means call this interface as an Admin for this group ID","required":false,"type":"integer","format":"int64"},{"name":"msg_id","in":"query","description":"MessageID","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"user_id","in":"header","description":"This fiel
[...]
